# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Peter Paquette
	email = 105465016+warp-9000@users.noreply.github.com
[init]
	defaultBranch = main
